table{
    width: 100%;
    text-align: center;
    height: 50px;
    overflow: auto;
    border-collapse: collapse;
}
thead{
    background-color: rgb(38, 0, 255);
    color: blanchedalmond;
    height: 30px;
    width: 100%;
}
td{
    text-align: center;
    width: 30%;
    border: 2px solid white;
    font-size: large;
    border-collapse: collapse;
}
tr{
    width: 100%;
    border-collapse: collapse;
}
th{
    
    width: 20%;
}
.del{
    width: 10px;
    position: absolute;
    left: 10px;
}

